@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

    * {
    font-family: 'Inter', sans-serif !important;
    }

    body {
        font-family: 'Inter', sans-serif;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #ffffff; /* White background */
        margin-top: 60px !important; /* Prevent overlap with fixed header */
    }

    
    header {
        height: 60px; /* Adjust height as needed */
        max-height: 20%; /* Adjust height as needed */
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: #2C5F34; /* Dark green header */
        color: white;
        padding: 0;
        margin-bottom: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
        margin-left: 0;
    }

    .container {
        width: 100%;
        max-width: 100%;
        margin: 0 ; /* Centering the container */
        padding: 0;
        box-sizing: border-box; 
        margin-left:0;
    }

    .navbar {
        width: 100%;
        height: 60px;
        position: flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px; /* Elimina cualquier padding adicional */        margin: 0; /* Elimina cualquier margen adicional */
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho */
        background-color: #2C5F34;
        color: white;
        margin-left:0;
    }
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0; /* Espacio a la izquierda */
        margin-right: 0; /* Espacio a la derecha */
        width: 220px; /* Espacio a la izquierda */
        max-width: 20%;
    }

    .logo img {        
        height: 30px;
        max-height: 100%;
        width: auto;
        object-fit: contain;
        margin: 5px;
    }

    .nav-left {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 10%;
    }

    .nav-links li a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
    }

    .nav-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 5px;
        margin-left: auto;
        padding-right: 10px;
        height: 100%;
    }

    #c14, #c15{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 60px;
        gap: 10px;
        margin-left: auto;
    }

    .notification-icon img {
        height: 30px;
        max-height: 100%;
        width: auto;
        object-fit: contain;
        margin: 5px;
    }

    .dropdown {
        position: relative;
        top: 0;
        left:0;
        display: inline-block;
        align-items: center;
        vertical-align: middle;
        gap: 5px; 
        z-index: 2000;
    }




    .layout-container {
        display: flex;
        width: 100%;
        min-height: 100vh;
    }

    .sidebar {
        width: 220px;
        max-width: 20%;
        background-color: #2C5F34;
        color: white;
        height: 100vh;
        position: fixed;
        top: 60px;
        left: 0;
        padding-top: 20px;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        font-family: 'Inter', sans-serif;
    }
    
    .sidebar-menu {
        list-style: none;
        padding: 0;
    }
    
    .sidebar-menu li {
        padding: 1px 1px;
    }
    
    .sidebar-menu li a {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 500;
        padding: 10px 10px;
    }
    
    .sidebar-menu li a:hover {
        background: linear-gradient(90deg, #45a049, #3b8d3b);
        border-radius: 10px;
    }
    
    .sidebar-menu img {
        height: 25px;
        max-height: 5%;
    }
    
    .sidebar-logo {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .sidebar-logo a {
        text-decoration: none;
    }
    
    .sidebar-logo img {
        height: 30px;
        max-height: 5%;
        max-width: 120px;
    }
    
    .main-content {
        display: flex;
        flex-grow: 1;             /* Take remaining space */
        flex-direction: column;
        margin-left: 220px;       /* SAME as the sidebar width */
        margin-right: auto; /* Centering the main content */
        width: calc(100% - 220px);
        box-sizing: border-box;
        padding: 20px;
        gap: 20px;
        align-items: center;
        background-color: white;
    }
    

    footer {
        display: inline-flex; /* Mantiene los elementos en línea */
        justify-content: center; /* Centra los elementos horizontalmente */
        align-items: center; /* Alinea los elementos verticalmente */
        width: 100%; /* Asegura que el footer ocupe todo el ancho */
        text-align: center;
        margin-top: 30px;
        padding: 10px;
        font-size: 0.8em;
        color: #777;
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho */

    }

    footer a {
        justify-content: center;
        text-align: center;
        color: #007bff; /* Bootstrap-like blue */
        text-decoration: none; /* Remove underline */
        margin: 0 10px; /* Space between links */
    }

    footer a:hover {
        text-decoration: underline; /* Add underline on hover */
    }

    /* Media query for smaller screens */
    @media (max-width: 992px) {

        header {
            display: flex;
            max-height: 25%;    
        }

        .logo{
            min-width: 70px;
            max-width: 10%;
        }

        .logo img {
            height: 30px;
            max-height: 5%; /* Adjust as needed */
        }
        

        .navbar {
            display: flex;
            align-items: center;
            width: 100%; /* Asegura que ocupe todo el ancho */
            max-height: 15%;
        }

        .nav-left {
            display: none; /* Oculta los enlaces en pantallas pequeñas */
        }

        .nav-right {
            display: flex;
            justify-content: flex-end; /* Alinea los íconos a la derecha */
            gap: 15px; /* Espaciado entre los elementos */
            width: 100%; /* Asegura que ocupe todo el ancho */
        }

        .dropdown {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .dropdown-content {
            position: absolute; /* Ajusta el menú desplegable para pantallas pequeñas */
            top: 100%; /* Asegúrate de que aparezca debajo del botón */
            right: 0;
            right: auto;
            width: 90%; /* Make it occupy most of the screen width */
            margin: 0 auto; /* Center it horizontally */
            box-sizing: border-box;
        }

        .dropbtn_menu {
            display: flex; /* Oculta los enlaces en pantallas pequeñas */
        }

        .dropbtn_menu img {
            width: 25px;
            height: auto;
            display: block;
        }

        #menu_dropdown { /* solo este */
            width: 100%; /* Ensure it fits within the screen */
            right: 0;
        }
    
        #menu_dropdown button { /* solo este */
            width: 100%; /* Ensure buttons take full width */
            text-align: center; /* Center-align the text */
        }

        
        .sidebar {
            min-width: 70px;
            max-width: 10%;
            
        }
        
        .sidebar-menu li a {
            justify-content: center;
        }

        .sidebar-menu li a span,
        .sidebar-menu li a::after {
            display: none;
        }

        .main-content { 
            margin-left: 70px; 
            width: calc(100% - 70px);
        }
        

    }

  
